* {
	box-sizing: border-box;
}

body {
	font-family: "Calibri", Times, serif;
	background-color: lightblue; 
}

header {
	background-color: #5e7de3;
	padding: 200px;
	text-align: center;
	font-size: 45px;
	color: white;
}
section {
	display: -webkit-flex;
	display: flex;
}

h1{
	color: white;
}

nav {-webkit-flex: 1;
	-ms-flex: 1;flex: 1;
  	background: #3a5379;
  	padding: 50px;
  	font-size: 3rem;
 }

footer {
	background-color:#5e7de3;
	padding:10px;
	text-align: center; 
	color: white;
}
