* {
	box-sizing: border-box;
}

body {
	font-family: "Calibri", Times, serif;
	background-color: lightblue; 
}

header {
	background-color: #5e7de3;
	padding: 300px;
	text-align: center;
	font-size: 45px;
	color: white;
}
section {
	display: -webkit-flex;
	display: flex;
}