* 
{
	box-sizing: border-box;
}

body 
{
	font-family: "Calibri", Times, serif;
	background-color: lightblue; 
}

header 
{
	background-color: #5e7de3;
	padding: 200px;
	text-align: center;
	font-size: 45px;
	color: #ffff;
}
section 
{
	display: -webkit-flex;
	display: flex;
}

h1
{
	color: #ffff;
}

nav 
{-webkit-flex: 1;
	-ms-flex: 1;flex: 1;
  	background: darkcyan;
  	padding: 50px;
  	font-size: 3rem;
 }

footer 
{
	background-color:#5e7de3;
	padding:10px;
	text-align: center; 
	color: #ffff;
}

@media (max-width: 600px) 
{
  section 
  {
  	-webkit-flex-direction: column;
  	flex-direction: column;
  	}
 }

#div2 
{
	-webkit-transition-timing-function: ease;
}

#div2 
{
	transition-timing-function: ease;
}

.rig 
{
	width: 100px; 
	height: 70px;
	background: darkcyan;
	-webkit-transition: width 1s; 
  	transition: width 1s;
  	font-size: 1.5rem; 
  	color: darkcyan;
}

.rig:hover 
{
	width: 600px;
	height: 70px;
	font-size: 4rem;
	font-weight: bold;
  	color: #ffff;
  	text-align: center;
  	justify-content: center;
}

.dropdown 
{
	position: relative;
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

.dropdown-content
 {
	display: none;
	position: absolute;
  	background-color: darkcyan; 
  	color: #ffff;
  	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
  	z-index: 1;
}

.dropdown:hover .dropdown-content 
{
	display: block;
}

.desc 
{
	padding: 2px;
	text-align: center;
	font-size: 3.5rem;
}